#     Filetypes     #
#####################
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc    

#  Individual File  #
#####################

#Ignore files used for "pretty" standalone abstract file
loneAbstract.aux
loneAbstract.fdb_latexmk
loneAbstract.fls
loneAbstract.log
loneAbstract.pdf
loneAbstract.synctex.gz
loneAbstract.tex